//
//  LeftViewController.m
//  UIdemo
//
//  Created by ruicai101 on 16/4/12.
//  Copyright © 2016年 ruicai101. All rights reserved.
//

#import "LeftViewController.h"
#import "NewsDAO.h"
#import "Book.h"
@interface LeftViewController ()
@property NewsDAO *dao;
@end

@implementation LeftViewController

- (void)viewDidLoad {
    [super viewDidLoad];
    self.dao=[[NewsDAO alloc]init];
    [self.dao findAll];

    
    self.tableView =[[UITableView alloc]initWithFrame:self.view.frame style:UITableViewStylePlain];
    self.tableView.delegate =self;
    self.tableView.dataSource =self;
    [self.view addSubview:self.tableView];
    self.tableView.rowHeight = 50;
    self.tableView.separatorStyle = NO;
    self.tableView.backgroundColor =[UIColor clearColor];
    
    
    [[NSNotificationCenter defaultCenter]addObserver:self selector:@selector(findallfinished:) name:@"findall" object:nil];

}

-(void)findallfinished:(NSNotification*)notification{
    
    self.objects=[notification object];
    [self.tableView reloadData];
}


- (void)didReceiveMemoryWarning {
    [super didReceiveMemoryWarning];
    // Dispose of any resources that can be recreated.
}

#pragma UITableView DataSource
-(NSInteger)numberOfSectionsInTableView:(UITableView *)tableView
{
    return 1;
}

-(NSInteger)tableView:(UITableView *)tableView numberOfRowsInSection:(NSInteger)section
{
    return self.objects.count;
}

-(UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath{
    
    static NSString *TableSampleIdentifier=@"reuseIdentifier";
    UITableViewCell *cell=[tableView dequeueReusableCellWithIdentifier:TableSampleIdentifier];
    if (cell==nil) {
        cell=[[UITableViewCell alloc]initWithStyle:UITableViewCellStyleValue1 reuseIdentifier:TableSampleIdentifier];
    }
        cell.backgroundColor=[UIColor clearColor];
        cell.textLabel.text=[self.objects objectAtIndex:indexPath.row][@"name"];

        return cell;
    
}
-(void)tableView:(UITableView *)tableView didSelectRowAtIndexPath:(NSIndexPath *)indexPath
{
    
    NSString *image=[self.objects objectAtIndex:indexPath.row][@"img"];
    [[NSNotificationCenter defaultCenter]postNotificationName:@"imagename" object:image];
}
@end
